{% extends "blog/base.html" %}
{% block content %}
	<h3 class="info-title">營隊簡介</h3>
	<div class="row">
		<div class="col-md-4 justify-content-left">
			<p><strong>活動時間</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>2019/7/1(一) ~ 2019/7/5(五)，共五天<br><br></p>
		</div>
		<div class="col-md-4 justify-content-left">
			<p><strong>活動地點</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>國立台灣大學（校總區）<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>活動內容與宗旨</strong></p>
		</div>
		<div class="col-md-8 justify-content-left">
			<u>學習簡單的經濟理論</u><br>
			<p>邀請經濟系上的教授，以詼諧輕鬆的課程，向學員介紹經濟學<br></p>
			<u>認知到經濟學充斥在我們生活之中，不知不覺就被我們大量運用</u><br>
			<p>用各種看似大不相同的遊戲，讓學員可以在遊戲的策略制定中，不知不覺的使用到經濟學的各種思考<br></p>
			<u>學習怎麼樣用經濟效率去思考問題</u><br>
			<p>當認識經濟學之後，思考事情的方式就會變得很不一樣，經濟效率自然而然就是我們的思考本位<br></p>
			<br>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>住宿地點</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>男生住處為台大男一舍，女生住處為台大選手村（男女沒有分層但分區）<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>報名費用</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>＄6800（一般) 、＄0（勵學名額）<br>(費用包含五天食宿、交通、保險、上課講義、營手冊、營服、紀念品等)<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>招收對象</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>全國高中職學生（含升高一及升大一者），共120人（含勵學名額5人）
				為了讓每個學員都有最好的營隊體驗，我們將招收120學員，因此請務必要用心填妥報名表單的每個內容，而以內容的完整性、對營隊的熱情與期望，來做為篩選的標準，希望大家可以用心填寫出自己內心的想法噢！
			<br></p>
		</div>

	</div>
{% endblock content %}