{% extends "blog/base.html" %}
{% block content %}
	<h3 class="info-title">報名方式</h3>
	<div class="row">
		<div class="col-md-4 justify-content-left">
			<p><strong>報名費用</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>＄6800（一般) 、＄0（勵學名額）<br>(費用包含五天食宿、交通、保險、上課講義、營手冊、營服、紀念品等)<br><br></p>
		</div>

		<div class="col-md-4 justify-content-left">
			<p><strong>營隊名額</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>120名(含5名勵學名額)<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>報名方式</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>網路報名: <a href="https://goo.gl/forms/tC3nyy0K79gq1ANO2" class="article-link" target="_blank">報名表單</a><br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>報名期限</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>2019/3/11 ~ 2019/4/20止(以表單送出時間為準)</a><br><br></p>
		</div>

		<div class="col-md-4 justify-content-left">
			<p><strong>錄取順序</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>我們的錄取標準跟報名順序零相關！完全以大家表單的填寫為主，於此同時也是確認大家是否適合我們這次的營隊，讓大家都可以玩的開心！<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>勵學名額</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>我們共提供5名勵學名額，全額補助清寒學生參加，須在報名表單勾選勵學名額後，額外提供政府中低收入戶或清寒證明、
				<a href="https://drive.google.com/file/d/1eEl76VIvYfn665-0CBIrneB2dqNf0Ru1/view?usp=sharing" class="article-link" target=_blank>學校老師推薦信</a>（或至下載專區下載）寄至econcamp2019@gmail.com，信件主旨為"2019經濟營清寒證明-OOO"
				為確定勵學名額學員全程參與活動，會在確認錄取後，請大家繳交1500元的保證金，在活動結束後再全額退回。
			<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>公布正備取名單</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>2019/4/30&emsp;9:00<br><br></p>
		</div>
		
		<div class="col-md-12 justify-content-left">
			<p><strong>※退費聲明：</strong>我們能了解意外狀況的發生，但營隊的舉辦需要成本，所以若已完成繳費，卻又因故無法參加營隊者，我們只能將費用部分退回</p>
			<ul>
				<li>5/30以前申請退費者，得退七成五報名費</li>
				<li>5/31-6/10期間申請退費者，得退五成報名費</li>
				<li>6/11以後申請退費者，將不予以退費</li>
			</ul>
			<br>
		</div>

		<div class="col-md-12 justify-content-left">
			<p><strong>※注意：</strong>若退費收款帳號非為郵局帳號，將收取15元跨行轉帳手續費</p>
		</div>
		
	</div>
{% endblock content %}
