{% extends "blog/base.html" %}
{% block content %}
	<h3 class="info-title">下載專區</h3>
	<div class="row col-md-12">
	<ul>
	  <li>
	    <a class="article-link" href="https://drive.google.com/file/d/1eEl76VIvYfn665-0CBIrneB2dqNf0Ru1/view?usp=sharing" target="_blank">台大經濟營師長推薦函</a>
	  </li>
	  <li>
	    <a class="article-link" href="https://drive.google.com/open?id=1m0a54Uf37HiDYlrhivXQJvuK6CCNFMp-" target="_blank">2019經濟營正取名單</a>
	  </li>
	  <li>
	    <a class="article-link" href="https://drive.google.com/open?id=1GhlScsmYLHigjPUL3-h9Y-Y7QngCJc99" target="_blank">2019經濟營備取名單</a> 
	  </li>
	</ul>
	</div>
	<br><br>
{% endblock content %}
