{% extends "blog/base.html" %}
{% block content %}
	<h3 class="info-title">常見問題 - 小隊員篇</h3>
	<div class="row">
		<div class="col-md-4 justify-content-left">
			<p><strong>Q1.參加營隊需要對於經濟學的先備知識嗎?</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>不用噢！我們歡迎對經濟學有興趣的人來參加，經濟學可以是一個很艱澀難懂的學科，充滿很複雜的數理推導與計算，但是在此次營隊裡，我們希望讓大家見識到經濟學平易近人的一面，看到經濟學是如何用在生活中的每個角落，進而啟發大家對於經濟學的興趣與想像。所以完全不用擔心不懂經濟學會跟不上噢！這邊也提供書單讓有興趣的學員可以在營前先認識經濟學！<br><br></p>
		</div>

		<div class="col-md-4 justify-content-left">
			<p><strong>Q2.篩選錄取的標準為何?</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>依序為</p>
			<ul>
				<li>報名資訊完整者</li>
				<li>報名動機及熱情較高者</li>
				<li>男女各招收60人</li>
			</ul>
			<br><br>
		</div>

		<div class="col-md-4 justify-content-left">
			<p><strong>Q3.晚上一定要住宿嗎？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>由於我們的營隊是五天四夜，會需要學員全程參與，希望大家可以在這裡體會不一樣的團體生活，我們也有準備很多團隊目標讓大家一起完成、結交來自台灣各地的朋友。<br><br></p>
		</div>

		<div class="col-md-4 justify-content-left">
			<p><strong>Q4.我臨時有事不能參加，可以讓朋友來頂替我參加嗎?</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>不可以。因為每個人都是經篩選才有資格參加營隊的，若有事不克參加，請盡速通知我們，我們將把名額讓給候補的學員。若經發現未告知而冒名參加者，一律退營處理。<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q5.我能不能跟我的朋友同一個小隊?</strong></p>
		</div>
		
		<div class="col-md-8 justify-content-right">
			<p>我們會在維持男女比的情況下進行隨機分隊，並盡量讓小隊學員來自不同縣市，故不會出現刻意將某些學員放在同小隊或拆散，一切純屬隨機。<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q6.如果遇到天災會取消或是延後營隊時間嗎?</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>如果營期開始前已遇不可抗力之天災，以至於營隊無法順利舉行，我們將會視情況取消營隊並且<span style="color: red">扣除營隊籌劃必要支出，將剩餘金額辦理退費</span>，屆時會請已繳費的學員填寫退款表單進行退費。<br>而若是在營期間突發天災，則我們會視情況決策營隊是否繼續舉行，若不繼續舉行，會將費用清算並退回，對於因天災無法回家之學員，我們也會盡保護之責任，讓其待至營期結束或交通恢復止。<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q7.有沒有報名優惠呢?</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>一般生無報名費的優惠，但我們有為家境清寒之學生提供勵學名額，費用全免，讓清寒生也有機會參加暑期營隊。<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q8.我不是台北人誒，我有什麼方法可以到臺大社會科學院嗎？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>大家可以搭乘台鐵、高鐵或客運抵達台北車站，再乘坐捷運紅線至大安站，再轉乘文湖線至科技大樓站，我們將派人至科技大樓將大家接至社科院。<br>東部的學員若搭乘噶瑪蘭客運，也可以直接在科技大樓站下車噢！<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q9.我還有其他問題怎麼辦？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>歡迎寄信至econcamp2019@gmail.com、臉書私訊台大經濟營粉專或總副召，寄信或私訊請清楚註明問題為何，若問題較多請以條列式寫出來，我們會盡快回復。<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q10.晚上我有朋友（親屬）要來找我出去（逛街）可以嗎？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>不行噢！我們營隊需要大家全程的參與，不能說走就走，但緊急事件得填寫離營申請書，聯絡家長後，經總副召蓋章，方可離營。<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q11.如何確定我已經報名成功了？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>報名成功後，我們將會寄信至你的電子郵件，如有收到信即為報名成功噢！若無收到郵件，可私訊總召確認。<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q12.報名表單的自傳（動機）應該要打什麼比較容易錄取呢？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>希望大家可以填寫對營隊、經濟系的期待，對於參加營隊、面對團體生活的態度，個性上的優缺點（最好優缺點都至少各提一項，增加我們對你們的認識），可以寫的豐富一點，但切勿寫流水帳，篇幅控制在500字以內為佳。<br><br></p>
		</div>
		
		<div class="col-md-4 justify-content-left">
			<p><strong>Q13.會有營服嘛？要不要洗衣服？應該帶幾套衣服比較好？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>每位學員都會有一件營服在最後一天會穿。而我們不會有玩水相關行程需要學員再額外備一套衣物，所以基本四套換洗衣物即可，其餘請學員評估自身需求來增加攜帶（不建議大家洗衣服）。<br><br></p>
		</div>
	</div>
	
	<h3 class="info-title"><br>常見問題 - 家長篇<br><br></h3>
	<div class="row">
		<div class="col-md-4 justify-content-left">
			<p><strong>Q1.晚上睡覺的地方安全嗎？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>晚上睡覺的地方皆有門禁管理，且有保全留守，安全部分不用擔心。<br><br></p>
		</div>
		<div class="col-md-4 justify-content-left">
			<p><strong>Q2.每天的飲食是否衛生？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>我們會有專門組別處理飲食，會顧慮到飲食均衡讓大家都吃得安心，衛生的部分也會事先調查，安全無虞才會進行訂購的步驟。<br><br></p>
		</div>
		<div class="col-md-4 justify-content-left">
			<p><strong>Q3.會不會有尺度過大或有危險（碰水）的活動？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>不會，我們所有的活動旨在讓學員可以在過程中學習經濟學，活動內容會需要不斷的發揮想像力跟思考分析能力，絕對不會有不適宜的內容出現。<br><br></p>
		</div>
		<div class="col-md-4 justify-content-left">
			<p><strong>Q4.如果我的小孩比較怕生，是否可以一起參加營隊旁聽？</strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>不行，我們營隊強調全程參與，且人員有限我們無法暇顧及旁聽學員，所以為了確保營隊品質，我們恕不提供旁聽名額。<br><br></p>
		</div>
	</div>
{% endblock content %}
