{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Kaushan+Script|Noto+Sans+TC:500" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/blog/main.css">
        <link rel="shortcut icon" href="/static/images/favicon.ico">
        <meta name="google-site-verification" content="2IzPqgF5MOqxQ2PsfqlvkVvwLbFjOROldu-F3jfntg0">
        <meta name="msvalidate.01" content="5BC035425FB2E33B0515B68C42B92634" />
        <meta name="author" content="Aaron Chen & Curtis Luo">
        <meta name="description" content="2019台大經濟營官方網站">
        <meta name="keywords" content="台大經濟營 台大營隊 營隊 2019台大經濟營">
        <title>營期首頁 | 2019台大經濟營</title>
    </head>
    
    <body>
	<header class="site-header mb-5">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark bg-dark fixed-top">
                <div class="container">
                    {% if user.is_authenticated %}
                        <a class="navbar-brand mb-0 h2" href="{% url 'game' %}">NTU ECON CAMP</a>
                    {% else %}
                        <a class="navbar-brand mb-0 h2" href="{% url 'blog-home' %}">NTU ECON CAMP</a>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto mb-0">
                            <a class="nav-item nav-link" href="{% url 'blog-home' %}">首頁</a>
                            <a class="nav-item nav-link" href="{% url 'form-econ' %}">行動表單</a>
                            <a class="nav-item nav-link" href="{% url 'form-trade' %}">系統貿易</a>
                            <a class="nav-item nav-link" href="{% url 'card' %}">卡片資訊</a>
                            <a class="nav-item nav-link" href="{% url 'wonder' %}">世界奇觀</a>
                            <a class="nav-item nav-link" href="https://drive.google.com/open?id=15Wji_cEjxnZMtKqNR5f-62RKZYLxVgYAU9mj3R6g-N4" target=_blank>生產函數表</a>
                        </div>
                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link" href="{% url 'logout' %}">登出</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'login' %}">登入</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container">
            <h3 class="info-title">伊康攻略</h3>
            <div class="row">
                <div class="col-md-7 justify-content-center">
                        <img class="img-fluid" alt="Responsive image" src="{% static 'blog/Map.png' %}" style="height:800px; width:100%" >
                        <img class="img-fluid mark" alt="Responsive image"  src="{% static 'blog/exclamation.png' %}">
                        <div class="overlay">
                            <div class="map-text">各城邦都維持在一個自給自足的生活，在西元前14年之後，由於來自奧林帕斯帝國的森榮克發明了新的農業種植方法，可以讓糧食減短3個月的生長期，並且在短短二十年間此項技術便流傳至全世界。然而，各城邦廣泛應用到各種農作物之後，卻發現會大幅減少土地的肥沃度。</div>
                        </div>
                </div> 

                <div class="col-md-5 justify-content-center" style="margin-top: 20px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">基礎資源</th>
                                <th scope="col">均衡價格</th>
                                <th scope="col">需求</th>
                                <th scope="col">供給</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">糧食</th>
                                <td>$1.05</td>
                                <td>2000</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <th scope="row">木頭</th>
                                <td>$1.05</td>
                                <td>2000</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <th scope="row">鐵礦</th>
                                <td>$1.05</td>
                                <td>2000</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <th scope="row">石頭</th>
                                <td>$1.05</td>
                                <td>2000</td>
                                <td>3000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>           
        </main>

        <footer>
            <div class="container">
                    <p class="copyright"><br>Design by Aaron Chen &amp; Curtis Luo</p>
                </div>
            </footer>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
