{% extends "blog/base.html" %}
{% block content %}
	<div class="info-title">
		<h3>營隊課程</h3>
	</div>
	<div class="row">
		<div class="col-md-4 text-center justify-content-left">
			<p style="font-size: 20px;"><strong><br>[伊康攻略]<br></strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>透過遊戲的方式，讓營隊學員從中學習經濟學的思考模式。透過小隊員互相討論，做出最佳決策，在遊戲進行過程中不斷調整策略；為了使自己效益最大化，你必須知道各個小隊擁有的資源，效仿經濟成長高的小隊，讓自身小隊的生產效率更高。伊康攻略不僅可以得到刺激感，還可以從中運用學到的經濟學知識，等你來挑戰!<br><br></p>
		</div>
		
		<div class="col-md-4 text-center justify-content-left">
			<p style="font-size: 20px;"><strong><br>[企業參訪]<br></strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>有鑑於畢業系友目前投入最大宗仍是金融產業，所以此次企參也會安排金融產業參觀，而目前銀行業都在追求線上作業優化、網路銀行設置以及服務設計創新，所以會帶大家去目前在這方面為領頭羊的公司，介紹他們自己以及目前台灣正打的火熱的純網銀戰爭，帶大家探索金融科技以及創新金融的世界。<br><br></p>
		</div>

		<div class="col-md-4 text-center justify-content-left">
			<p style="font-size: 20px;"><strong><br>[學長姊實習與就業分享]<br></strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>隨著時代快速變遷，現今社會對於跨領域人才的需求也越來越高，除了自己本身所學的專業知識，你是不是還具備其他第二或第三專長，可以讓你在工作上有加分之處，而且是別人不能做到的。
				今年的營隊特別邀請幾位在不同領域工作的學長姐，分享自己是如何以經濟學本科系的優勢，去結合其他專長，並且在同業中脫穎而出。希望大家聽完學長姊的分享可以更清楚經濟系在就業上的強項噢！
			<br><br></p>
		</div>

		<div class="col-md-4 text-center justify-content-left">
			<p style="font-size: 20px;"><strong><br>[賽局理論]<br></strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>賽局理論是20世紀經濟學重要的成果之一，決策者們藉由分析手上握有的資訊，並且思考你的對手可能會做出的各種行動，去決定該做出什麼行動，而決策者們的這個行動決策會進而影響彼此的報酬多寡，這樣一個互動思考的過程，就是賽局理論。
			而這次營隊中會邀請蔡崇聖教授來主講這個主題，並且設計遊戲讓學員體會賽局決策時燒腦的過程還有十足的緊湊感。若想要感受賽局的魅力就趕快來報名吧！<br><br></p>
		</div>

		<div class="col-md-4 text-center justify-content-left">
			<p style="font-size: 20px;"><strong><br>[創意產業經濟]<br></strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>隨著復聯4的結束，長達7年（第一集2012）的復仇者系列終於告一段落，它可說是伴我們成長。原本只是創作者腦子裡的虛構角色與想像世界，究竟是如何轉化成充滿聲光特效的電影，以及各種看得見、摸得著的玩具與週邊商品？這次經濟營的馮老師將會跟大家聊聊漫威英雄與樂高積木的幕後故事，既從生活周遭的娛樂來學經濟學觀念，也用經濟學的視角來解析娛樂背後的商業現象。
			<br><br></p>
		</div>

		<div class="col-md-4 text-center justify-content-left">
			<p style="font-size: 20px;"><strong><br>[教育經濟學]<br></strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>你是否曾好奇，為什麼要考好成績念好大學那麼重要?如何才能上臺大?臺大學生有什麼共通點?教改一改再改，真的有實現較好的教育制度嗎?在這次經濟營，我們邀請到臺大經濟系駱明慶教授來為大家解惑，用經濟學的角度來分析臺灣教育制度，讓我們一起思考，問題到底出在哪裡?
			<br><br></p>
		</div>

		<div class="col-md-4 text-center justify-content-left">
			<p style="font-size: 20px;"><strong><br>[建構創新創意為主的新台灣經濟]<br></strong></p>
		</div>
		<div class="col-md-8 justify-content-right">
			<p>高雄韓市長常說要拚經濟，但具體來說該如何拚?是蓋賽馬場、挖石油和愛情產業鏈嗎? 鄭秀玲教授提出另一個方案，便是: &nbsp;創新經濟!教授從美國回到臺大20幾年來都在進行產業和創新經濟學的研究，在這次經濟營中將深入淺出的為大家講解臺灣經濟惡化的主因，並提出解決辦法!
			<br><br></p>
		</div>
	</div>
	
{% endblock content %}
